.page-of-consultation {
    width : 100vw;
    height: 93vh;

    .consultation-of-container {
        width     : 100vw;
        height    : 79vh;
        overflow-x: hidden;
        overflow-y: auto;
        background: seashell;
        font-size : 14px;

        .server {
            // position   : absolute;
            // top        : 16%;
            align-items: center;
            display    : flex;
            max-width  : 90%;


            p {
                padding      : 10px;
                background   : cornflowerblue;
                border-radius: 10px;
            }

            img {
                width : 30px;
                height: 30px;
            }
        }

        .client {

            // position   : absolute;
            // right      : 3%;
            // top        : 9%;
            align-items: center;
            display    : flex;
            justify-content: flex-end;

            p {
                padding      : 10px;
                background   : darkseagreen;
                border-radius: 10px;
            }

            img {
                width : 30px;
                height: 30px;
                margin: 0 5px;
            }
        }

    }

    .consultation-of-msg {
        width     : 100vw;
        height    : 8vh;
        position  : absolute;
        bottom    : 0;
        display   : flex;
        padding   : 3vw;
        box-sizing: border-box;
        background: #fff;
        border    : 1px solid #bbb;
        z-index   : 99;

        .msg-of-icon {
            flex      : 1;
            text-align: center;

            img {
                width: 7vw;
            }
        }

        .msg-of-btn {
            flex: 1;
        }

        .msg-of-input {
            flex: 4;
        }
    }
}